# Analise dos resultados do SISU
Vamos analisar aqui as notas dos estudantes selecionados pelo SISU no ano de 2021

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
df_selecionados = pd.read_csv("Data/alunos_selecionados.csv", sep=';')
df_cursos = pd.read_csv("lista_cursos.csv", sep=';')

In [50]:
df_selecionados.head()

,nome,codigo_inscricao_enem,codigo_oferta,bonus,classificacao,nota,codigo_modalidade,modalidade
0,CARLOS AUGUSTO SANTOS FERNANDES,20****4646741,162887,0.0,1,655.17,0,Ampla concorrência
1,DEBORA LOUISE DE SOUZA FELISBERTO,20****4665356,162887,0.0,2,641.81,0,Ampla concorrência
2,MATHEUS CANDIDO DE OLIVEIRA SILVA,20****7040864,162887,0.0,3,639.64,0,Ampla concorrência
3,LUIS ANTONIO CORSO DA COSTA,20****1199474,162887,0.0,4,639.41,0,Ampla concorrência
4,BRENDA DANTAS DA COSTA,20****2513744,162887,0.0,5,636.21,0,Ampla concorrência

In [51]:
df_cursos.head()

,codigo_oferta,codigo_curso,nome_curso,grau_curso,turno_curso,numero_vagas,nome_campus,cidade_campus,uf_campus,nome_ies,...,peso_ciencias_natureza,min_ciencias_humanas,peso_ciencias_humanas,min_linguagens,peso_linguagens,min_matematica,peso_matematica,min_redacao,peso_redacao,media_minima
0,162887,1513995,CIÊNCIAS SOCIAIS,Licenciatura,Noturno,40,CAMPUS REALENGO II,Rio de Janeiro,RJ,COLÉGIO PEDRO II,...,1.0,0.01,3.0,0.01,2.0,0.01,1.0,0.01,2.0,0.01
1,162886,1513993,FILOSOFIA,Licenciatura,Noturno,40,CAMPUS REALENGO II,Rio de Janeiro,RJ,COLÉGIO PEDRO II,...,1.0,0.01,3.0,0.01,2.0,0.01,1.0,0.01,2.0,0.01
2,162889,1513994,GEOGRAFIA,Licenciatura,Noturno,40,CAMPUS REALENGO II,Rio de Janeiro,RJ,COLÉGIO PEDRO II,...,1.0,0.01,3.0,0.01,2.0,0.01,1.0,0.01,2.0,0.01
3,162888,1513990,HISTÓRIA,Licenciatura,Noturno,40,CAMPUS REALENGO II,Rio de Janeiro,RJ,COLÉGIO PEDRO II,...,1.0,0.01,3.0,0.01,2.0,0.01,1.0,0.01,2.0,0.01
4,176142,18864,ADMINISTRAÇÃO,Bacharelado,Integral,50,CEFET/RJ - UNIDADE MARACANÃ,Rio de Janeiro,RJ,CENTRO FEDERAL DE EDUCAÇÃO TECNOLÓGICA CELSO S...,...,2.0,444.70,1.0,453.80,1.0,432.40,4.0,300.00,3.0,418.04

## Nota máximas
Para observar o desempenho dos alunos, vamos utilizar o seguinte score: a nota obtida pelo aluno sobre a nota máxima possível considerando a oferta que o aluno foi selecionado

Observamos aqui que os alunos com notas acima de 900 muitas vezes possuem bonus altos, devido a regionalidade e especificidade do curso ofertado ou modalidade concursada

In [57]:
df_selecionados.sort_values('nota', ascending=False)

,nome,codigo_inscricao_enem,codigo_oferta,bonus,classificacao,nota,codigo_modalidade,modalidade,notas_percentuais
86532,VINICIUS BARROS COSTA MACEDO,20****6901999,171559,20.0,1,995.40,0,Ampla concorrência,0.923000
87773,LAURA FROES NUNES DA SILVA,20****7046646,171557,20.0,1,993.14,0,Ampla concorrência,0.920904
87774,NICOLE DA SILVA BRAGA,20****0665368,171557,20.0,2,990.17,0,Ampla concorrência,0.918150
87775,GABRIE GERIA MELO LIMA,20****0082295,171557,20.0,3,989.23,0,Ampla concorrência,0.917279
87776,LAYLA CAROLINA BARROS LEITE,20****2151662,171557,20.0,4,986.09,0,Ampla concorrência,0.914367
...,...,...,...,...,...,...,...,...,...
46597,ANTONIO VESPASIANO DOS SANTOS FILHO,20****5030681,190134,0.0,1,244.88,14,Candidatos com deficiência autodeclarados pret...,0.272482
95262,RODRIGO DE MORAES,20****8076161,166772,0.0,1,235.52,9,Candidatos com deficiência que tenham renda fa...,0.262067
11590,WALLACE MONJARDIM BONINI,20****6881473,177808,0.0,1,234.18,10,Candidatos com deficiência autodeclarados pret...,0.260994
21159,ANDRE VIANA DOS SANTOS,20****0453944,176772,0.0,1,227.98,14,Candidatos com deficiência autodeclarados pret...,0.253898
46567,EVERTON SANTOS OLIVEIRA,20****7839393,190089,0.0,1,52.00,10,Candidatos com deficiência autodeclarados pret...,0.057861

### Relação das notas máximas do Enem de 2021

In [52]:
notas_maximas = {
    'linguagens': 801.1,
    'ciencias_humanas':862.6,
    'ciencias_natureza': 854.8,
    'matematica': 975,
    'redacao': 1000
}

## Obtendo os pesos dos cursos de cada aluno

Agora temos que recolher os pesos e calcular a nota máxima para cada aluno

In [54]:
colunas_pesos = ['peso_linguagens','peso_ciencias_humanas','peso_ciencias_natureza','peso_matematica','peso_redacao']

In [55]:
%%time

notas_percentuais = []
for codigo, index in zip(df_selecionados['codigo_oferta'], df_selecionados.index):
    codigo_curso_idx = df_cursos.loc[df_cursos['codigo_oferta'] == codigo][colunas_pesos].index
    
    pesos = df_cursos.loc[codigo_curso_idx[0], colunas_pesos].to_list()
    nota, bonus = df_selecionados.loc[index, 'nota'], 1 + (df_selecionados.loc[index, 'bonus']) / 100
    
    percentual_nota = df_selecionados.loc[index, 'nota'] / ((sum([n * p for n, p in zip(notas_maximas.values(), pesos)]) / sum(pesos)) * bonus)
    
    notas_percentuais.append(percentual_nota)

CPU times: user 3min 53s, sys: 122 ms, total: 3min 53s
Wall time: 3min 52s

KeyError: 'nota_percentual'

In [69]:
df_selecionados['notas_percentuais'] = notas_percentuais
df_selecionados.sort_values('notas_percentuais', ascending=False).head()

,nome,codigo_inscricao_enem,codigo_oferta,bonus,classificacao,nota,codigo_modalidade,modalidade,notas_percentuais
194016,FELIPE COUTO AMENDOLA,20****9386642,182469,0.0,1,853.40,0,Ampla concorrência,0.950529
122001,JOAO GUILHERME REBUSSI MARCOMINI MACEDO CATELAN,20****0748560,176215,0.0,1,852.86,0,Ampla concorrência,0.948993
132454,MICHELLY MOREIRA CAMPOS,20****4959159,187735,0.0,1,863.45,0,Ampla concorrência,0.948525
58800,PEDRO BARBOSA DUARTE VIDAL,20****0807861,189245,0.0,1,851.50,0,Ampla concorrência,0.947480
63367,JULIA MOTTA COELHO DE CERQUEIRA PAES,20****3229947,152613,0.0,1,850.74,0,Ampla concorrência,0.946634